/* fonts */
@font-face {
    font-family: Rubik;
    src: url("../assets/fonts/rubik/Rubik-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Assistant;
    src: url("../assets/fonts/assistant/Assistant-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Calibri;
    src: url("../assets/fonts/calibri/calibri.ttf");
    font-weight: 500;
}

@font-face {
    font-family: DancingScript;
    src: url("../assets/fonts/dancingScript/DancingScript-SemiBold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Amatica;
    src: url("../assets/fonts/Amatica/AmaticaSC-Regular.ttf");
    font-weight: 500;
}

/* animations */
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes getAlert {
    100% {
        top: 5vh;
        visibility: visible;
    }
}

@keyframes removeAlert {
    100% {
        top: -25vh;
        visibility: hidden;
    }
}

@keyframes slideRight {
    100% {
        transform: translateX(150%);
    }
}

@keyframes slideLeft {
    100% {
        transform: translateX(-150%);
    }
}


/* classes */
.darkScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.bg {
    direction: rtl; 
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.centerX {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.flexCenter {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}
