.tillburger {
    color: white;
    font-family: "Rubik";
    background-image: url("../../assets/images/tillburger/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

#tillburgerToppingsContainer {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    padding-right: 0;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 32vh;
    margin-bottom: 8vh;
}

.tillburgerTopping {
    position: relative;
    display: block;
    width: 75vw;
    height: 11vh;
    margin-bottom: -11vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.toppingText {
    text-align: center;
    height: 6vh;
    width: 60vw;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.2rem;
}

.lettuce {
    background-image: url("../../assets/images/tillburger/lettuce.svg");
}

.tomato {
    background-image: url("../../assets/images/tillburger/tomato.svg");
}

.patty {
    background-image: url("../../assets/images/tillburger/patty.svg");
}

.onion {
    background-image: url("../../assets/images/tillburger/onion.svg");
}

.buns {
    width: 75vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.topBun {
    margin-bottom: -4vh;
    position: relative;
    z-index: 25;
    background-image: url("../../assets/images/tillburger/bunTop.svg");
    height: 14vh;
}

.bottomBun {
    background-image: url("../../assets/images/tillburger/bunBottom.svg");
    height: 9vh;
}

.tillburgerSubmitButton {
    width: 34vw;
    position: absolute;
    left: 4vw;
    bottom: 2vh;
}

