.tillwatch {
    background-color: rgb(0, 0, 0);
    font-family: "Heebo";
    color: white;
}

.tillwatchContentContainer {
    position: absolute;
    top: 13vh;
    height: 74vh;
    overflow-y: scroll;
    width: 100%;
}

.tillwatchContentContainer::-webkit-scrollbar {
    display: none;
}

.tillwatchThumbnailsContainer {
    display: flex;
    overflow-x: scroll;
    width: 90vw;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    margin: 1rem;
}

.tillwatchVideoThumbnail {
    width: 45vw;
    min-width: 45vw;
    height: 16vh;
    background-size: 100% 136%;
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

.tillwatchPlaylistTitle {
    margin: 1rem;
}

#videoPlayer {
    position: absolute;
    top: 13vh;
    width: 100vw;
    height: 32vh;
}

.tillwatchTopBar {
    position: absolute;
    top: 5vh;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.tillwatchTopButtons {
    height: 4vh;
    padding: 0 1rem;
}

#tillwatchFullScreenButton {
    width: 95vw;
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.tillwatchWatchedSymbol {
    width: 9vw;
}