.tilloto {
    font-family: "Rubik";
    /* background: linear-gradient(135deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%); */
    background-color: white;
}

.tillotoBoardContainer {
    position: relative;
}

.tillotoBoard,
.win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.tillotoBoard {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1.9em;
}

.tillotoBoardContainer.flipped .tillotoBoard {
    transform: rotateY(180deg) rotateZ(50deg);
}

.tillotoBoardContainer.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.tillotoCard {
    position: relative;
    width: 22vw;
    height: 12vh;
}

.tillotoCardFront,
.tillotoCardBack {
    padding: 2vw;
    position: absolute;
    border-radius: 3vw;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,  #6f00fc 0%,#6d77c7 50%,#2f92c0 100%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.tillotoCardBack {
    transform: rotateY(180deg) rotateZ(50deg);
    user-select: none;
    text-align: center;
    font-size: 2em;
    line-height: 2.5em;
    background: #6d77c7;
}

.tillotoCard.flipped .tillotoCardFront {
    transform: rotateY(180deg) rotateZ(50deg);
}

.tillotoCard.flipped .tillotoCardBack {
    transform: rotateY(0) rotateZ(0);
}